.contact-container {
  background: url(../../../assets/images/cta.png) no-repeat;
  background-size: cover;
  margin-top: 50px;
  width: 100vw;
  height: 50vh;

  .contact-bg {
    width: 100vw;
    height: 50vh;
    background: rgba(2, 7, 15, 0.8);
  }
  .content {
    padding-top: 10rem;
    h1 {
      text-align: center;
      font-weight: bolder;
      font-size: 42px;
      font-family: "Poppins";
      color: $white;
    }
    p {
      text-align: center;
      font-family: "Poppins";
      color: $white;
      padding: 1rem 0;
    }
    h4 {
      text-align: center;
      font-family: "Poppins";
      color: $white;
      font-size: 22px;
      span {
        color: $primary;
      }
    }
    .button {
      text-align: center;
      button {
        padding: 18px 25px;
        text-transform: capitalize;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 600;
        color: $white;
        background: $primary;
        border: none;
        margin-top: 40px;
        font-family: Poppins;
      }
    }
  }
}
