//Colors
$primary: #ffaa19;
$white: #ffffff;
$black: #000c22;
$light: #f3f3f5;
$blue: #042c71;
$gray: #3b4968;
$text-color: #4f576d;
$light-blue: rgba(0, 12, 34, 0.5);
$light-primary: rgba(255, 170, 25, 0.1);
